@import '../../util/variables';

.Projects {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-evenly;
  height: 91vh;
  margin-top: 2%;
  width: 100%;
  margin-left: 2%;
}

.projects-other {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  height: 64vh;
  margin-right: 2%;
  margin-top: 3%;
}

.idea-div,
.swapi-div,
.cycle-div,
.cinema-div,
.iced-div,
.cowboy-div {
  width: 30%;
  height: 27vh;
  position: relative;
}

.gutenreader-div {
  display: inline-block;
    overflow: hidden;
    width: 21%;
    position: relative;
    height: 72vh;

  // display: inline-block;
  // overflow: hidden;
  // width: 22%;
  // position: relative;
  // height: 80vh;
}

.gutenpics {
  width: 98%;
}

.projects-div {
  opacity: .3;
  &:hover {
    opacity: 1
  }
}

.svg-next {
  fill: rgba(148, 148, 148, .7);
  &:hover {
    cursor: pointer;
    fill: $secondary-blue;
  }
  &:focus {
    transform: scale(1.1)
  }
}

.projects-div-img-next {
  display: flex;
  height: 80vh;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.projects-div-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom:0;
  width: 100%;
  box-shadow: $box-shadow1;
}

.guten-footer {
  width: 98%
}

.cinemapics {
  height: 24vh;
}

.projects-p-guten {
  z-index: 1;
  position: absolute;
  top: 0;
  background: darken($background, 2%);
  color: lighten($lighter-grey, 20%);
  height: 80%;
  padding: 8% 8%;
  line-height: 1.5;
  border: 2px solid black;
}

.projects-div-footer > a {
  font-weight: 600;
  &:hover {
    color: $secondary-blue;
  }
  &:focus {
    transform: scale(1.1)
  }
}


/**********     iPhone 5s     **********/

@media screen and (max-width: 568px) {

  .Projects {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 96%;
    margin-top: 2%;
    align-items: center;

  }

  .projects-other {
margin-bottom: 2vh;

  }

  .projects-div {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-shrink: 0;
  }

  .gutenreader-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 64vh;
    height: 81vh;
    width: 80%;
  }

  .projects-div {
    opacity: 1;
  }
}

// @media screen and (max-width: 1199px) {

//   .gutenreader-div {
//     height: 60vh;
//     margin-top: 5vh;
//   }

//   .idea-div, .swapi-div, .cycle-div, .cinema-div, .iced-div, .cowboy-div {
//     height: 23vh;
//   }


// }


// @media screen and (max-width:1045px ) {
// .gutenreader-div {
//   height: 70vh;
//   margin-top: 5vh;
//   width: 33%;
// }

//   .idea-div, .swapi-div, .cycle-div, .cinema-div, .iced-div, .cowboy-div {
//     width: 35%;
//     height: 21vh;
//     margin-bottom: 3vh;
//   }
// }

// @media screen and (max-width:1045px ) {
//   .gutenreader-div {
//     height: 64vh;
//   }
// }