@import '../../util/variables';

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 91vh;
}

.cowboy-div {
  width: 28%;
  height: 23vh;
}

.gutenreader-div {
  display: inline-block;
  overflow: hidden;
  width: 34%;
}

.svg-next {

  &:hover {
    fill: rgba(148, 148, 148, .7);
    cursor: pointer;
  }
}