$box-shadow1: 0px 6px 13px 0px rgba(0,0,0,0.75);
$darker-grey: rgba(112, 112, 112, .7);
$lighter-grey: rgba(148, 148, 148, 1);
$secondary-blue: #49d7ed;
$svg-light-grey: invert(61%) sepia(12%) saturate(17%) hue-rotate(322deg) brightness(93%) contrast(95%);
$svg-blue: invert(68%) sepia(96%) saturate(372%) hue-rotate(147deg) brightness(80%) contrast(89%);