.Resume {
  display: flex;
  justify-content: center;
  height: 91vh;
  overflow: scroll;
}

.resume-iframe {
  height: 100vh;
  width: 58%;
  transform: scale(.9);
}

@media screen and (max-width: 568px) {
  .resume-iframe {
    width: 80%;
    // transform: scale(.4)
  }
}