.Resume {
  display: flex;
  justify-content: center;
  height: 91vh;
  overflow: scroll;
}

.resume-iframe {
  height: 100vh;
  width: 58%;
  transform: scale(.9);
}

.resume-mobile {
  display: none;
}

@media screen and (max-width: 568px) {
  .resume-iframe {
  //  display: none;

  width: 100%;
  }

  .resume-mobile {
    display: inline-block;
  }
}