@import '../../util/variables';


.About {
  display: flex;
  border: 1px dashed green;
  justify-content: space-around;
}

#wrapper .text {
  position:relative;
  bottom:30px;
  left:0px;
  visibility:hidden;
  }
  
  #wrapper:hover .text {
    visibility:visible;
  }

  .about-ul {
   list-style: none;
   width: 15%;
   font-size: .8em;
  }

  .about-li {
    color: $lighter-grey;
    margin-top: .8vh;
  }



  .about-dropdown {
    border: 1px solid blue;
    font-size: .8em;
    background-color: $darker-grey;
  }

  .about-div-dropdown {
    width: 100%;
    border: 1px dotted pink;
    opacity: .5
  }


  .about-div-techlist {
    width: 100%
  }


.about-section-tech {
  display: flex;
  width: 20%
}

.css-yk16xz-control {
  background-color: black;
}

p {
  color: $lighter-grey;
}