#wrapper .text {
  position:relative;
  bottom:30px;
  left:0px;
  visibility:hidden;
  }
  
  #wrapper:hover .text {
    visibility:visible;
  }

  li {
    margin-top: 3vh;
    border: 1px solid red;
  }