@import '../../util/variables';


.About {
  display: flex;
  flex-direction: column;
  border: 1px dashed green;
  align-items: center;

}

// #wrapper .text {
//   position:relative;
//   bottom:30px;
//   left:0px;
//   visibility:hidden;
//   }
  
//   #wrapper:hover .text {
//     visibility:visible;
//   }

  .about-ul {
   list-style: none;
   font-size: .8em;
   display: flex;
   flex-wrap: wrap;
  }

  .about-li {
    color: $lighter-grey;
    margin-left: 1%;
    margin-right: 1%;
  }

  .about-li-span {
    // margin-right: 1%;
  }

.about-section-general {
  padding-top: 3%;
  width: 40%;
}

  .about-dropdown {
    border: 1px solid blue;
    font-size: .8em;
    background-color: $darker-grey;
  }

  .about-div-dropdown {
    width: 100%;
    border: 1px dotted pink;
    opacity: .7;
  }


.about-div-techlist {
  width: 100%
}


.about-section-tech {
  display: flex;
  width: 100%
}

.about-p {
  color: $lighter-grey;
  font-weight: 300;
}

