@import '../../util/variables';

h1 {
  margin: 0%;
  font-size: 6em;
}

.home__div--name {
  margin-left: 15%;
  margin-top: 17vh;
  color: $lighter-grey;
}

.home__p--about {
  padding-top: 2vh;
  font-size: 1.3em;
}

span {
  color: $secondary-blue;
  font-weight: bold;
}

