@import '../../util/variables';

h1 {
  margin: 0%;
  font-size: 6em;
}

.home__div--name {
  margin-left: 15%;
  margin-top: 17vh;
  color: $lighter-grey;
}

.home__p--about {
  padding-top: 2vh;
  font-size: 1.3em;
}

span {
  color: $secondary-blue;
  font-weight: bold;
}

.mobile-components {
  display: none;
}



/**********   Iphone 5s    **********/


@media screen and (max-width: 568px) {

.mobile-components {
  display: inline-block;
}

h1 {
  font-size: 4em;
}

.home__p--about {
  font-size: 1em;
  padding: 2vh;
  padding-left: 0;
}


}