@import '../../util/variables';;

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  
}

.contact-div-second,
.contact-div-normal {
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 10px $darker-grey;
  border-radius: 50px;
}



.contact-svg {
  filter: $svg-light-grey;
  width: 100%;
  &:hover {
    filter: $svg-blue;
    transform: scale(1.2);
  }
}

.contact-a {
  margin-top: 2vh;
  width: 8%;
}

.contact-p {
  margin-top: 9vh;
  font-weight: 200;
  color: $lighter-grey;
  font-size: 1.5em;
}

