//on hover make all OTHER tabs darker?

$box-shadow1: 0px 6px 13px 0px rgba(0,0,0,0.75);
$darker-grey: rgba(112, 112, 112, .7);
$lighter-grey: rgba(148, 148, 148, 1);

.Header {
  display: flex;
  margin: 0;
  box-shadow: $box-shadow1;
  color: $darker-grey;
  padding-left: 2%;
  justify-content: space-evenly;
}


.header-tab {
  border-bottom: 1px solid #202020;
  &:hover {
    color: $lighter-grey;
    // padding: 5px;
    cursor: pointer;
    // text-decoration: underline;
    // border-bottom: 1px solid #49d7ed;
    // padding: 5px;
    // transform: translateX(200px) translateY(-4px) translateZ(6px) scale(0.3);
  }
}
$animate: all 0.2s ease-in-out;


.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 18px 0 20px;
  .header-tab {
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    transition: $animate;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 2px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.5s;
      opacity: 0;
      background-color: darken(#49d7ed, 5%);
    }
    &.header-tab {
      &:before,
      &:after {
        left: 0;
      }
    }
    }
  &:hover {
    cursor: pointer;
    .header-tab {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}