//on hover make all OTHER tabs darker?
@import '../../util/variables';

.Header {
  display: flex;
  margin: 0;
  box-shadow: $box-shadow1;
  color: $darker-grey;
  padding-left: 2%;
  height: 10vh;
  align-items: center;
}

.Header2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.header-tab {
  border-bottom: 1px solid #202020;
  &:hover {
    color: $lighter-grey;
    cursor: pointer;
  }
}
$animate: all 0.2s ease-in-out;

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 18px 0 20px;
  .header-tab {
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    transition: $animate;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 2px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.5s;
      opacity: 0;
      background-color: darken(#49d7ed, 5%);
    }
    &.header-tab {
      &:before,
      &:after {
        left: 0;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .header-tab {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.header-logo {
  display: block;
  height: 8vh;
  width: 5em;
  background-image: url('../../assets/logo.png');
  // background-image: url('../../assets/logo-grey.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: .7;
  &:hover {
    opacity: 1;
    cursor: pointer;
    // transform: scale(1.1);
  }
  &:active {
    transform: scale(1.1);
  }
}

.hiddenmenu {
  display: none;
}

.header-svg {
  filter: $svg-light-grey;
  &:active {
    filter: $svg-blue
  }
}

.Header2 > a,
.Header > a {
  width: auto;
  height:auto;
}



/***************    Iphone 5s    ***************/         

@media screen and (max-width: 568px) {

  .Header {
    align-items: center;
  }

  .hiddenmenu {
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 2vh;
    margin-right: 3%;
    width: 20%;
    // box-shadow: $box-shadow1;
    display: flex;
    flex-direction: column;
    background-color: $background;
    align-items:center;
  }

  .menu > a {
  position: relative;
  z-index: 2;
  }

  .menu {
    position: relative;
    z-index: 2
  }

  .header-logo {
    height: 6vh;
    width: 4em;
    padding-bottom: 12%;
  }

  .header-svg {
    width: 50%;
  }

  a > div > p {
    // margin: 0;
    padding-left: 6%;
    color: $lighter-grey;
    // background: $lighter-grey;
    // border: 1px solid red;
    // box-shadow: $box-shadow1;
    font-weight: 600;
    &:hover {
      transform: scale(1.1)
    }
    &:active {
      transform: scale(1.1);
      color: $secondary-blue;
    }
  }

  a > div {
    background: lighten($background, 6);
    height: 7vh;
    display: flex;
    width: 12vh;
    border-bottom: 1px solid;
    align-items: center;
  }

  .Header2 {
    display: none;
  }

  .Header > a {
    height: 7vh;
  }
}


/**********       End of Iphone 5s       *********/


