@import '../../util/variables';

.Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10vh;
  background: $background;
  border: 1px solid red;
}

.footer-img {
  max-width: 100%;
  filter: $svg-light-grey;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: $svg-blue;
  }
}

.footer-turing {
  transform: scale(1.2);
  &:hover {
    transform: scale(1.4)
  }
}

.a {
  margin: 15px 25px;
  display: inline-block;
  width: 2.5%;
  height: 7vh;
}




/**********     iPhone 5S     **********/

@media screen and (max-width: 568px) { 
  .Footer {
    display: none;
  }


}



